<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- Funami/FuSetup/etc/di.xml -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="funami_table_listing_data_source" xsi:type="string">Funami\FuSetup\Model\ResourceModel\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Funami\FuSetup\Model\ResourceModel\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">funami_table</argument>
            <argument name="resourceModel" xsi:type="string">Funami\FuSetup\Model\ResourceModel\Grid</argument>
        </arguments>
    </virtualType>
</config>
